/*Flexbox Style rules*/
.flexBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flexItem {
    border-width: 1px;
    border-style: solid;
}

table, th, td {
    border-width: 1px;
    border-style: solid;
}

h1, h2 {
    text-align: left;
}

@media screen and (max-width: 1000px) {
    /*Flexbox Style rules*/
    .flexBoxContainer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    h1, h2 {
        text-align: center;
        margin: 0px;
    }

    table, th, td {
        /* border-style: none; */
    }
}